.header__container {
  width: 100%;
}

.header__container-inner {
  padding-top: 25px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.headerCont__logoCont{
  cursor: pointer;
  margin-right: 70px;
}

.headerCont__btnToggleMenu {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 10px 25px;
  width: 140px;
  background: #ffffff;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s linear;
  margin-right: 20px;
}

.headerCont__btnToggleMenu:hover {
  border: 1px solid black;
}

.headerCont__btnToggleMenu .headerCont__btnToggleMenu-text {
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #1a1a1a;
}

.headerCont__searchCont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
  background: #f0f0f0;
  border-radius: 5px;
  flex: 1;
  margin-right: 55px;
}

.headerCont__searchCont input {
  flex:1;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.5;
  color: #4d4d4d;
}

.headerCont__languageAndCurrency {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-right: 45px;
}

.headerCont__languageCont,
.headerCont__currencyCont {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: all 0.2s linear;
}

.headerCont__languageCont:hover,
.headerCont__currencyCont:hover {
  font-weight: bold;
}

.headerCont__userCont {
  display: flex;
  align-items: center;
  gap: 30px;
  padding-right: 10px;
}

.headerCont__userCont-like,
.headerCont__userCont-cartList {
  position: relative;
  cursor: pointer;
}

.quantityCircle {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 9px;
  line-height: 1.4;
  background: #05a845;
  color: #fff;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(50%, -50%);
}

.headerCont__mobileSearch-icon{
  cursor: pointer;
}


.headerCont__searchField{
  width: 100%;
  padding: 15px;
  height: 100%;
  position: relative;
  display: none;
}

.searchField__overlay{
  height: 100vh;
  width: 100%;
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  top: 0;
  left: 0;
  z-index: 98;
}

.searchField__content{
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  padding: 15px;


}

.searchField__searchCont{
  background-color: #f0f0f0;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.searchField__input{
  padding: 15px;
  flex: 1;
  border: 1px solid #e3e3e3;
  font-size: 17px;
  border-radius: 10px;
}

.searchField__submit{
  width: 50px;
  padding: 5px 15px;
}

.headerCont__mobileSearch{
  display: none;
}
.headerCont__mobileSearch-icon{
  width: 50px;
  height: 50px;
  padding: 0px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerCont__mobileSearch .headerCont__mobileSearch-icon .icon-close{
  display: none;
}

.searchToggle-active .headerCont__mobileSearch-icon .icon-close{
  display: block;
}

.searchToggle-active .headerCont__mobileSearch-icon .icon-search{
  display: none;
}


@media (max-width: 1300px){
  .header__container-inner {
    padding: 25px 20px 0px 20px;
  } 
}

@media (max-width: 1080px){
  .headerCont__btnToggleMenu{
    display: none;
  }
  .headerCont__searchCont{
    display: none;
  }
  .headerCont__languageAndCurrency{
    display: none;
  }
  .headerCont__userCont{
    display: none;
  }
  .header__container-inner {
    justify-content: space-between;
  } 
  .headerCont__mobileSearch{
    display: block;
  }
}