.upSell {}

.upSell_inner {
    padding: 60px 0px 90px 0px;
    border-top: 1px solid #F0F0F0;
}

.upSell_tittle {
    font-weight: 500;
    font-size: 35px;
    line-height: 120%;
    color: #191919;
    margin-bottom: 30px;
}

.upSell__content{
    display: flex;
    gap: 30px;
}

@media (max-width: 1300px){
    .upSell_inner {
        padding: 60px 20px 90px 20px;
    }
}

@media (max-width: 1024px){
    .upSell__content{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
}

@media (max-width: 480px){
    .upSell__content{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    } 
}