<link rel="stylesheet" href="{{ 'info.css' | asset_url }}">


<section class="info">
    <div class="info_inner container">
        <div class="info_title">{{section.settings.section_title}}</div>

        <div class="info_itemWrap">
            {% for block in section.blocks %}
        {% case block.type %}
            {% when 'add_Info' %}

            <div class="info_item">
                <div class="info_item_name">{{block.settings.info_name}}</div>
                <div class="info_item_content">{{block.settings.info_detail}}</div>
            </div>
            {% else %}   
        {% endcase %}
            
        {% endfor %}
        </div>
        
        

    </div>

</section>

{% schema %}
{
  "name": "Info",
  "tag": "section",
  "presets": [
    {
      "name": "Info",
      "blocks": [
      ]
    }
  ],
  "settings": [
    {
    "type": "text",
    "id": "section_title",
    "label": "Input Title"
    }
    
  ],
  "blocks": [
    {
      "type":"add_Info",
      "name":"Add More Info",
      "settings": [
        {
            "type": "text",
            "id": "info_name",
            "label": "Input Info name "
        },
        {
            "type": "text",
            "id": "info_detail",
            "label": "Input Info detail "
        }
      
      
      ]
    }
  ]
}
{% endschema %}