<link rel="stylesheet" href="{{ 'info.css' | asset_url }}">

{% assign dataInfo = product.metafields.my_fields.info.value | newline_to_br | split: '<br />' %}

<section class="info">
    <div class="info_inner container">
        <div class="info_title">{{section.settings.section_title}}</div>

        <div class="info_itemWrap">
        {% for data in dataInfo %}
            {% assign content = data | split: ':' %}
            {% assign title = content[0] %}
            {% assign text = content[1] %}
            <div class="info_item">
                <div class="info_item_name">{{ title }}</div>
                <div class="info_item_content">{{ text }}</div>
            </div>
        {% endfor %}
        </div>
    </div>
</section>

{% schema %}
{
  "name": "Info",
  "tag": "section",
  "presets": [
    {
      "name": "Info",
      "blocks": [
      ]
    }
  ],
  "settings": [
    {
    "type": "text",
    "id": "section_title",
    "label": "Input Title"
    } 
  ]
}
{% endschema %}