<link rel="stylesheet" href="{{ 'section-header-container.css' | asset_url }}" media="print" onload="this.media='all'">
<section class="header__container">
    <div class="header__container-inner container">
        <div class="headerCont__logoCont">
            <a href="/" class="">
                {% render 'icon-logo' %}
            </a>  
        </div>
        <div class="headerCont__btnToggleMenu">
            {% render 'icon-hamburger' %}
            <div class="headerCont__btnToggleMenu-text">Products</div>
        </div>
        <div class="headerCont__searchCont">
            <input type="text" class="headerCont__searchCont-input" placeholder="Search for products">
            {% render 'icon-search' %}            
        </div>
        <div class="headerCont__languageAndCurrency">
            <div class="headerCont__languageCont">
                <div class="headerCont__languageCont-text">
                    ENG    
                </div>
                {% render 'icon-arrowDown' %}
            </div>
            <div class="headerCont__currencyCont">
                <div class="headerCont__currencyCont-text">
                    USD    
                </div>
                {% render 'icon-arrowDown' %}
            </div>
        </div>
        <div class="headerCont__userCont">
            <div class="headerCont__userCont-user">
                {% render 'icon-account' %}
            </div>
            <div class="headerCont__userCont-like">
                {% render 'icon-wishlist' %}
                <div class="quantityCircle">12</div>    
            </div>
            <div class="headerCont__userCont-cartList">
                <a href="/cart" class="">
                    {% render 'icon-cart' %}
                    <div class="quantityCircle">{{ cart.item_count }}</div>
                    <script>console.log({{ cart.item_count | json }});</script>
                </a>
            </div>
        </div>
        <div class="headerCont__mobileSearch">
            <div class="headerCont__mobileSearch-icon">
                {% render 'icon-search' %}
                {% render 'icon-close' %}
            </div>
        </div>

    </div>
 <div class="headerCont__searchField">
        <div class="searchField__overlay"></div>
        <div class="searchField__content">
            <div class="searchField__searchCont">
                <input type="text" class="searchField__input" placeholder="Search for products">
                <div class="searchField__submit">
                    {% render 'icon-search' %}
                </div> 
            </div> 
        </div>
    </div> 
</section>