<link rel="stylesheet" href="{{ 'section-header-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<section class="header__menu">
    <div class="header__menu-inner container">
        <div class="headerMenu">
            <div class="headerMenu__option">
                <a href="#" class="">
                    <p>Special</p>
                </a>
            </div>
            <div class="headerMenu__option">
                <a href="#" class="">
                    <p>Local stores</p>
                </a>
            </div>
            <div class="headerMenu__option">
                <a href="#" class="">
                    <p>Free delivery</p>
                </a>
            </div>
            <div class="headerMenu__option">
                <a href="#" class="">
                    <p>Shop</p>
                </a>
            </div>
            <div class="headerMenu__option">
                <a href="#" class="">
                    <p>Pages</p>
                </a>
            </div>
            <div class="headerMenu__option">
                <a href="/collections/collection-page" class="">
                    <p>Collection</p>
                </a>
            </div>
            <div class="headerMenu__option">
                <a href="#" class="">
                    <p>Blog</p>
                </a>
            </div>
            <div class="headerMenu__option">
                <a href="#" class="">
                    <p>Contact</p>
                </a>
            </div>
        </div>
        <div class="headerMenu__helpCenter">
            <p>
                Need help? <span>contact@example.com</span>
            <p>
        </div>
    </div>
</section>