<link rel="stylesheet" href="{{ 'upSell.css' | asset_url }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css" integrity="sha512-eMxdaSf5XW3ZW1wZCrWItO2jZ7A9FhuZfjVdztr7ZsKNOmt6TUMTQgfpNoVRyfPE5S9BC0A4suXzsGSrAOWcoQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% assign dataProducts = product.metafields.variants.group1 | split: '|' %}

<section class="upSell"  data-section-type="up-Sell" data-section-id="{{ section.id }}">
    <div class="upSell_inner container">
        <div class="upSell_tittle">{{ section.settings.section_title }}</div>
        <div class="upSell__content">
            {% for dataProduct in dataProducts limit: 6 %}
                {% assign handles = dataProduct | split: '?' %}
             
                {% assign variantId = handles[1] | split: '=' %}
                
                {% assign variantId = variantId[1] | times: 1 %}
                {% assign handle = handles[0] %}
                {% assign datas = all_products[handle] %}
                
                {% assign data = datas.variants | where: 'id', variantId | first %}
              
                {% render 'card-product' with data %}
            {% endfor %}
        </div>
        </div>
    </div>

</section>

{% schema %}
{
  "name": "UpSell",
  "tag": "section",
  "presets": [
    {
      "name": "UpSell",
      "blocks": [
      ]
    }
  ],
  "settings": [
    {
    "type": "text",
    "id": "section_title",
    "label": "Input Title"
    }
    
  ],
  "blocks": [
    {
      "type":"add_Product",
      "name":"Add Product",
      "settings": [
        {
        "type":"image_picker",
        "id":"image",
        "label":"Pick Product Avatar (temporily)"
        },
        {
        "type": "product",
        "id": "product",
        "label": "Select a product"
        },
        {
            "type": "header",
            "content": "Edit Note"
        },
        {
            "type": "checkbox",
            "id": "sale",
            "label": "Sale",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "hot",
            "label": "Hot",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "new",
            "label": "New",
            "default": true
        },
        {
            "type": "text",
            "id": "quanity",
            "label": "Pick Product quanity"
        },
        {
            "type": "header",
            "content": "Input Pirce with discount"
        },
        {
            "type": "text",
            "id": "price1",
            "label": "Input Discount Price"
        },
        {
            "type": "text",
            "id": "price2",
            "label": "Input Base Price"
        },
        {
            "type": "header",
            "content": "Or Input regular price"
        },
        {
            "type": "text",
            "id": "price3",
            "label": "Input Regular Price"
        }
      
      ]
    }
  ]
}
{% endschema %}